* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    overflow: hidden;
}

[class*="col-"] {
    float: left;
    /* border: 1px solid black; */
}

/* ZA MOBILNE UREĐAJE */
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* ZA DESKTOP UREĐAJE */
@media only screen and (min-width: 601px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

/* STILIZOVANJE STRANICE */

/* HEDER I FUTER */
header, footer{
    background-color: aqua;
    text-align: center;
    padding: 15px 0px;
}

footer {
    /* Fiksiranje futera za donju ivicu ekrana */
    height: 30px;
    position: fixed;
    bottom: 0;
}


/* NAVIGACIJA */
nav ul {
    list-style-type: none;
    background-color: cadetblue;
}

nav ul li {
    border-bottom: 1px solid aqua;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

nav ul li:hover {
    background-color: aqua;
}

/* GRADIENTNA BOJA */
aside, .gradient {
    background-image: linear-gradient(cadetblue, white);
}

/* SLIKE */
img {
    width: 100%;
}

.gradient {
    margin-bottom: 30px;
}